.yes {
  background-color: var(--color-success-500);
}

.maybe {
  background-color: var(--color-warning-400);
}

.no {
  background-color: var(--color-danger-500);
}

.button {
  padding: 0.65em;
  border: 0.3em solid var(--color-primary-900);
  border-radius: 0.6em;
}

.button:not(:last-child) {
  margin-right: 0.6em;
}

.container {
  padding: 0.2em;
  padding-top: 0;
  white-space: nowrap;
}

.selected {
  border: 0.3em solid var(--color-primary-200);
}
